$primary-color: #007bff;

button {
   background-color: $primary-color;
   color: #fff;
   border: none;
   border-radius: 4px;
   padding: 8px 16px;
   font-size: 16px;

   &:hover {
      background-color: darken($primary-color, 10%);
   }
}