.slider {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   overflow: hidden;

   .slider-content {
      display: flex;
      transition: transform 0.5s ease-in-out;

      .card-song-wrapper {
         height: 300px;
         max-width: 180px;
         padding: 3px;
         width: 100%;
      }
   }

   .slider-controls {
      display: flex;
      gap: 5px;
      margin: 10px 0;

      .slider-prev,
      .slider-next {
         font-size: 18px;
         background-color: green;
         border-radius: 50%;
         color: white;
         padding: 5px;
         cursor: pointer;
         width: 30px;
         height: 30px;

         &:hover {
            background-color: #999;
         }
      }
   }
}