@import "../../style/index.scss";

.users {
   color: white;
   margin-top: 20px;



   .title {
      font-size: $title;
   }

   .about_table {
      margin-top: 20px;

      .see_button {
         background-color: #2bc48a;
         padding: 10px 20px;
         border-radius: 20px;
         cursor: pointer;
         display: table;
         margin-left: auto;
         margin-top: 20px;
         margin-bottom: 20px;
      }

      .block {
         min-height: 60px;
         background-color: white;
         padding: 10px;
         color: black;
         display: flex;

         .count {
            font-weight: bold;
         }

         border-radius: 20px;
         gap: 31px;
         align-items: center;

         .block_img {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
               width: 30px;
            }
         }
      }
   }

   .dashboard_blocks {
      margin-top: 20px;
      display: flex;
      gap: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input_search {
         display: flex;
         margin: 10px auto;
         justify-content: space-between;
         background-color: white;
         max-width: 360px;
         width: 100%;
         border-radius: 20px;
         padding: 15px;

         input {
            outline: none;
            border: 0;
            width: 80%;
         }

         .clear {
            cursor: pointer;
         }

         img {

            width: 20px;
            height: 20px;
         }
      }

      .add_user {
         padding: 10px 20px;
         background-color: #2bc48a;
         border-radius: 10px;
         cursor: pointer;
      }

      .block {
         min-height: 60px;
         background-color: white;
         padding: 10px;
         color: black;
         display: flex;

         .count {
            font-weight: bold;
         }

         border-radius: 20px;
         gap: 31px;
         align-items: center;

         .block_img {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
               width: 30px;
            }
         }
      }
   }
}