.wrapper_all {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 5px;
  background-color: #181818;
}

body {
  background-color: #181818;
}

.wrapper {
  margin-top: 80px;
  margin-left: 200px;
  margin-bottom: 100px;
  font-family: "Popins", sans-serif;
}

* {
  font-family: "Popisnd", sans-serif;
  box-sizing: border-box;
}

.app .content {
  background-color: #3E4751;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  z-index: 1000;
  max-width: 600px;
}
.app .content .blocks {
  display: flex;
  gap: 20px;
}
.app .content .blocks .img {
  flex: 1;
  width: 50%;
}
.app .content .blocks .img img {
  width: 100%;
}
.app .content .blocks .text {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.app .content .blocks .text .block_one {
  margin-top: 30px;
  color: white;
}
.app .content .blocks .text .block_one .title {
  font-size: 24px;
  margin-bottom: 40px;
}
.app .content .blocks .text .block_one a {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 25px;
  color: white;
  background-color: #1FDF64;
  border-radius: 20px;
}

.wrapper {
  position: relative;
}
.wrapper .executor {
  display: flex;
  flex-direction: column;
}
.wrapper .executor .musics {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 1000px;
}
.wrapper .executor .players {
  display: flex;
  gap: 20px;
}
.wrapper .executor .players img {
  cursor: pointer;
}
.wrapper .executor .players .music_player {
  width: 55px;
  height: 55px;
  background: #1fdf64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.wrapper .executor .players .music_player img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
}
.wrapper .executor .title {
  position: absolute;
  top: 140px;
  left: 120px;
  z-index: 1;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}
.wrapper .executor .about_track {
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  background-repeat: no-repeat;
  padding: 20px 40px;
  display: flex;
  height: 240px;
  gap: 20px;
  position: relative;
}
.wrapper .executor .about_track img {
  width: 100%;
}
.wrapper .executor .about_track .text {
  margin-top: auto;
}
.wrapper .executor .about_track .text .full_info {
  display: flex;
  gap: 30px;
  align-items: center;
  color: white;
}
.wrapper .executor .about_track .text .full_info .rating {
  background-color: green;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .executor .about_track .text .full_info a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
}
.wrapper .executor .about_track .text .full_info a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrapper .executor .about_track .text .name_track {
  color: white;
  font-size: 40px;
  margin-bottom: 35px;
}
.wrapper .executor .about_track .image img {
  max-width: 240px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=Executor.css.map */